@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --background-color: #efe7e5;
  --text-color: black;
}


// {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
}

//body {
   margin: 3% 15%;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}



.timeline-container {
   width: 80%;
   padding: 50px 0;
   margin: 50px auto;
   position: relative;
   overflow: hidden;
}
.timeline-container:before { /*This is the line down the middle*/
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;
   z-index: 1
}
.timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}
.timeline-block-right {
   float: right;
}
.timeline-block-left {
   float: left;
   direction: rtl
}
.marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #4DD0E1;
   margin-top: 10px;
   z-index: 9999
}
.timeline-content {
   width: 95%;
   padding: 0 15px;
   color: #666
}
.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500
}
.timeline-content span {
   font-size: 15px;
   color: #a4a4a4;
}
.timeline-content p {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: #888;
}
@media screen and (max-width: 768px) {
   .timeline-container:before {
      left: 8px;
      width: 2px;
   }
   .timeline-block {
      width: 100%;
      margin-bottom: 30px;
   }
   .timeline-block-right {
      float: none;
   }
   .timeline-block-left {
      float: none;
      direction: ltr;
   }
}

footer {
  margin-top: 100px;
}
footer p {
  font-size: 15px;
}

@media screen and (max-width: 880px) {
  .images .image-card {
    flex-wrap:wrap;
  }
}